@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Exo", sans-serif;
}
nav {
  width: 100%;
  height: 80px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
  font-weight: 900px;
  letter-spacing: 1px;
  z-index: 1;
}
nav .logo {
  font-size: 33px;
  color: #fff;
  font-weight: 600;
}
ul {
  padding-top: 10px;
}

.btn-nav {
  color: #fff;
  font-size: 18px;

  letter-spacing: 1px;
  padding: 15px 25px;
  border-radius: 5px;
  transition: all 0.8s ease;
  margin-top: 500px;
}
a {
  text-decoration: none;
  color: white;
}
.footer {
  background-color: black;
  width: 100%;
  height: 400px;
  display: flex;
  margin-top: 10%;
}
.col {
  color: white;
  width: 22%;
  padding: 50px;
  letter-spacing: 2.5px;
}
ul {
  color: #ff0000;
}
.foot-li-1 {
  list-style: none;
  padding: 8px;
  color: #fff !important;
}
.webmasters {
  background-color: black;
  align-items: center;
  justify-content: space-between;
}
.col1 {
  width: 34%;
  padding: 50px;
}
.prosec {
  height: 50px;

  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: 48px;
  padding-top: 20px;
  margin-top: 50px;
  font-family: "Ubuntu", sans-serif;
  text-decoration: wavy;
}
.card-group {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  box-shadow: 20px 10px 10px #ff0000;
}
.btn1 {
  border: 2px;
  border-color: #ff0000;
  border-style: solid;
  height: 50px;
  padding: 10px;
  margin-top: 1800px;
  background-color: #232b2b;
  z-index: 1;
}
.card {
  align-items: center;
  z-index: 1;
  /*background: url(/src/pexels-pixabay-531880.jpg);*/
}
.card-img-top {
  height: 250px;
  width: 300px;
  text-align: center;
}
.card-title {
  color: #ff0000;
  font-weight: bold;
  letter-spacing: 2px;
}
.card-text {
  color: #000000;
  font-weight: 600;
  font-size: 16px;
}
.btn1:hover,
.active:hover {
  background-color: #ff0000;
}
#services {
  box-sizing: border-box;
  padding: 100px 0;
  background-color: #282b2b;
}
.services-title {
  margin-bottom: 70px;
}
.services-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  color: #ff0000;
}
.services-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
.btn2 {
  border: 2px;
  border-color: #ff0000;
  border-style: solid;
  height: 50px;
  padding: 10px;
  margin-top: 20px;
  background-color: #232b2b;
  z-index: 1;
}
.btn2:hover,
.active:hover {
  background-color: #ff0000;
}

#testimonals {
  box-sizing: border-box;
  padding: 100px 0;
  background-color: #f6f6f6;
}
.container {
  display: table;
  content: " ";
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px 0;
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}
.testimonial {
  position: relative;
  padding: 20px;
}
.testimonial-image,
.testimonial-image img {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.testimonial-image {
  float: left;
  margin-right: 15px;
}
.testimonial-content {
  position: relative;
  overflow: hidden;
}
.testimonial-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}
.testimonial-meta {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #666;
}

.btn-nav:hover,
.active:hover {
  background-color: black;
  color: #fff;
}
nav .menu-btn {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
}
#click {
  display: none;
}

.header {
  display: flex;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
}
.intro {
  width: 100%;
  text-align: center;
}
.head0 {
  color: #fff;
  font-size: 100px;
  font-weight: bold;
  padding-top: 235px;
  font-family: "Dancing Script", cursive;
  line-height: 152px;
  letter-spacing: -0.005em;
}
.head1 {
  color: #f00000;
  font-size: 100px;
  font-weight: bold;
  padding-top: 45px;
  font-family: "Ubuntu", sans-serif;
  line-height: 252px;
  letter-spacing: -0.005em;
}

.area {
  background: #232b2b;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
@media (max-width: 1087px) {
  nav .menu-btn {
    display: block;
  }
  #click:checked ~ .menu-btn i::before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: #edf2f5;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
  }
  .btn-nav {
    margin: 40px 0;
  }
  #click:checked ~ ul {
    left: 0%;
  }
  .btn-nav {
    margin: 40px 100px;
    background-color: #f00000;
    display: block;
    text-align: center;
  }
  .intro {
    width: 100%;
  }
  .head1 {
    font-size: 50px;
    padding-top: 0%;
    text-align: center;
    margin: 20px;
  }
  .head2 {
    text-align: center;
    margin: 20px;
  }
  .btn-0 {
    text-align: center;
  }
  .btn-1 {
    text-align: center;
    margin-left: 0px;
  }
  .header {
    flex-direction: column;
  }
  .gif0 {
    width: 100%;
    flex-direction: column;
    display: block;
    padding-top: 50px;
    text-align: center;
  }
  .gif1 {
    padding: 15px;
  }

  .col {
    width: 100%;
    text-align: center;
  }
  .col1 {
    width: 100%;
    text-align: center;
  }
  .footer {
    flex-direction: column;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  .webmasters {
    align-items: center;
    flex-direction: column;
  }
}
#product-a{
  display: flex;
}
.container-a {
  position: relative;
  margin-top: 50px;
  width: 500px;
  height: 300px;
  display:flex;
  flex-direction: row;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background-image 0.5s ease;
}

.container-a:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.img-a {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 0;
}

.title-a {
  width: 500px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #000000;
}


.button-a {
  position: absolute;
  width: 500px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button-a a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.container-a:hover .button-a {
  opacity: 1;
}

