* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edf2f5;
}

/*#container{
}*/

h1 {
  color: antiquewhite;
  font-weight: bold;
}
nav {
  height: 80px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #f00000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  font-size: 33px;
  color: #fff;
  font-weight: 600;
}
ul {
  padding-top: 10px;
}

.btn-nav {
  color: #fff;
  font-size: 18px;
  font-weight: 12000px;
  letter-spacing: 1px;
  padding: 15px 25px;
  border-radius: 5px;
  transition: all 0.8s ease;
  margin-top: 500px;
}
a {
  text-decoration: none;
  color: white;
}

.btn-1 {
  background-color: #000000;
  color: #fff;
  margin-top: 80px;
  margin-left: 850px;
}
.gif0 {
  width: 40%;

}
.gif1 {
  padding-top: 212px;
  padding-left: 150px;
}

.img-fluid {
  width: 100%;
  max-width: 100%;
  height: auto;
  position: relative;
  bottom: 0px;
}
.header{
  display: flex;
}
.footer {
  background-color: black;
  width: 100%;
  height: 400px;
  display: flex;
  margin-top: 10%;
}
.col {
  color: white;
  width: 22%;
  padding: 50px;
  letter-spacing: 2.5px;
}
ul {
  color: #f00000;
}
.foot-li-1 {
  list-style: none;
  padding: 8px;
  color: #fff !important;
}
.webmasters {
  background-color: black;
  align-items: center;
  justify-content: space-between;
}
.col1 {
  width: 34%;
  padding: 50px;
}
.btn-nav:hover,
.active:hover {
  color: black;
}

.btn-nav:hover,
.active:hover {
  background-color: black;
  color: #fff;
}
nav .menu-btn {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
}
#click {
  display: none;
}
.intro {
  width: 60%;
  float: left;
}
.head1 {
  color: #f00000;
  font-size: 100px;
  font-weight: bold;
  padding-right: 1rem;
  margin-left: 150px;
  padding-top: 235px;
}
.head2 {
  color: #000000;
  font-size: 48px;
  font-weight: 500;
  margin-left: 700px;
}
@media (max-width: 1087px) {
  nav .menu-btn {
    display: block;
  }
  #click:checked ~ .menu-btn i::before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: white;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
  }
  .btn-nav {
    margin: 40px 0;
  }
  #click:checked ~ ul {
    left: 0%;
  }
  .btn-nav {
    margin: 40px 100px;
    background-color: #28285c;
    display: block;
    text-align: center;
  }
  .intro {
    width: 100%;
  }
  .head1 {
    font-size: 50px;
    padding-top: 0%;
    text-align: center;
    margin: 20px;
  }
  .head2 {
    text-align: center;
    margin: 20px;
  }
  .btn-0 {
    text-align: center;
  }
  .btn-1 {
    text-align: center;
    margin-left: 0px;
  }
  .header{
    flex-direction: column;
  }
  .gif0 {
    width: 100%;
    flex-direction: column;
    display: block;
    padding-top: 50px;
    text-align: center;
  }
  .gif1 {
    padding: 15px;
  }

  .col {
    width: 100%;
    text-align: center;
  }
  .col1 {
    width: 100%;
    text-align: center;
  }
  .footer {
    flex-direction: column;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  .webmasters {
    align-items: center;
    flex-direction: column;
  }
}
